# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\School\Desktop\새 폴더\2020-Skill-competition\1월 펀드 평가전\try\Pratices\B_Module_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
