@charset "UTF-8";

/* 초기화 */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;   
}

:root {
    --red: #  !important;
    --blue: # !important;
}

a, a:hover { text-decoration: none;}
button, label, a { cursor: pointer; }
label, p { margin-bottom: 0}

.wrap { width: 100%; max-width: calc(100% - 80px); margin: 0 auto; }
.d-between { display: flex; align-items: center; justify-content: space-between; }
.d-center { display: flex; align-items: center; justify-content: center; }
.p-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.t-ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: norap; }
.p-line, .auto-line { white-space: pre-line; }
.t-red { color: var(--red) }
.t-blue { color: var(--blue) }

.background { z-index: -1 }
.background img { object-fit: cover;}
.background::after { content : ''; }
.background--red { background-color: var(--red); }
.background--blue { background-attachment: var(--blue);}

@media(max-width: 760px) {
    .auto-line { white-space: normal; }
    .wrap { max-width: 100%; padding: 0 20px; }
}

/* 헤더 영역 */
header {
    position: relative;
    padding-top: 20px;
    height: 80px;
    z-index: 1000;
}

.nav {
    display: flex;
    height: 100%;
}

.nav__item {
    position: relative;
    height: 60px;
    line-height: 60px;
    padding: 0 1em;
}

.icon-bars {
    display: block;
    width: 2em; height: 2em;
}

/* 슬라이드 */
