@charset "UTF-8";
@font-face {
    src : url("../fonts/NotoSansCJKkr-hinted/NotoSansCJKkr-Medium.otf");
    font-family: "Noto";
}

/* 초기화 */
* { margin: 0; padding: 0; box-sizing: border-box; color: var(--black); font-family: "Noto", sans-serif;}
/* a, a:hover { color: var(--black) ; text-decoration: none;} */
button, label, p { margin-bottom: 0; user-select: none;}
ol,li,ul { list-style: none; margin-bottom: 0;}

#wrap { width: 100%;}

:root {
    --main : rgb(255, 214, 103);
    --sub : rgb(50, 81, 131);
    --blue : rgb(53, 129, 216);
    --yellow : rgb(255, 232, 105);
    --red : rgb(209, 67, 67);
    --black : #333;
    --gray : #6d6d6df1;
    --white : #fff;
}

.em-08 { font-size: 0.8em}
.em-085 { font-size: 0.85em}
.em-09 { font-size: 0.9em}
.em-095 { font-size: 0.95em}
.em-1 { font-size: 1em}
.em-11 { font-size: 1.1em}
.em-12 { font-size: 1.2em}
.em-14 { font-size: 1.4em}
.em-16 { font-size: 1.6em}
.em-18 { font-size: 1.8em}
.em-2 { font-size: 2em}
.em-22 { font-size: 2.2em}
.em-24 { font-size: 2.4em}
.em-3 { font-size: 3em}

.mx-20 { max-width: 20%; flex: 0 0 20%;}
.mx-40 { max-width: 40%; flex: 0 0 40%;}
.mx-60 { max-width: 60%; flex: 0 0 60%;}
.mx-80 { max-width: 80%; flex: 0 0 80%;}

.d-flex { display: flex; align-items: center;}
.d-center { display: flex; align-items: center; justify-content: center;}
.d-around { display: flex; align-items: center; justify-content: space-around;}
.d-between { display: flex; align-items: center; justify-content: space-between;}
.d-start { display: flex; align-items: center; justify-content: flex-start;}
.d-end { display: flex; align-items: center; justify-content: flex-end;}
.d-column { display: flex; flex-direction: column; align-items: center;}
.p-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.t-e { text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.t-bold { font-weight: 600;}
.fit-cover { width: 100%; height: 100%; object-fit: cover;}

.t-main { color: var(--main)}
.t-sub { color: var(--sub)}
.t-black { color: var(--black)}
.t-white { color: var(--white) !important;}
.t-yellow { color: var(--yellow)}
.t-white { color: #fff;}
.t-red { color: var(--red)}
.t-blue { color: var(--blue)}
.t-gray { color: var(--gray)}
.b-gray { background: var(--gray)}

.btn-fill { background: var(--main); padding: .5em 1em; color: #fff !important}
.btn-border { border: 1px solid var(--main); padding: .5em 1em; color: #333 !important};
.pointer { cursor: pointer;}

/* 공동영역 */
.t-row {
    display: flex;
    border-bottom: 1px solid var(--gray);
    padding: 0.5em 1em;
    min-height: 50px;
    align-content: center;
}

.layout {
    position: relative;
}

.eng_title {
    position: absolute;
    top: 50%; left: -175px;
}

.navt {
    width: 100%; height: 80px;
}

.navt { }

/* 헤더영역 */
header { position: fixed; left: 0; top: 0; background: #fff; width: 100%; height: 180px; z-index: 2000}
.header_top {border-bottom: 1px solid var(--gray)}
.header_top a, select { border-right : 1px solid var(--black); padding: 0 1em;}
select { border: 0; background-color: transparent;}
.header_body .logo { width: 200px; }
.header_bottom { background: var(--sub); width: 100%; color: #fff ; padding: 1.3em;}
.header_bottom .menu1 a { padding: 0.5em 1em; color: #fff;}
.search { border: 3px solid var(--sub); border-radius: 30px;  }
.search input { border: 0; background-color: transparent; outline: 0; padding: .6em .3em}

.menu2 { 
    position: absolute;
    left: 0.8%;
    top: 105%;
    width: 100%;
    background: #fff;
    height: 250px;;
    line-height: 2.5em;
    transition: .3s;
    overflow: hidden;
}
.menu1 > li:hover{
    color: var(--main) !important;
}
.menu1 > li:hover .menu2 {
    height: 250px;
}

.menu2 li:hover .menu1 li:hover {
    color: var(--main) !important;
}

.menu2 > div >  li { background:  var(--sub); width: 180px; height: 45px; margin-right: 20px;}
.menu3 li a {
    color: #333 !important;
}
/* 사이드바영역 */
/* 비주얼영역 */
#visual { 
    width: 100%;
    height: 700px;
    background: #333;
    margin-top: 190px;
    position: relative;
    overflow: hidden
}

.visual_img .image {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    filter: brightness(40%);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    animation: image 10.5s infinite;
}

.visual_img .image:nth-child(1) { background: url("../images/02.01.무형유산\ 디지털\ 체험관.jpg"); animation-delay: -3.5s;}
.visual_img .image:nth-child(2) { background: url("../images/02.01.무형유산\ 디지털\ 체험관.jpg"); animation-delay: -0s;}
.visual_img .image:nth-child(3) { background: url("../images/02.01.무형유산\ 디지털\ 체험관.jpg"); animation-delay: -7s;}

@keyframes image {
    0% { opacity: 0;}
    23.809% { opacity: 0;}
    33.333% { opacity: 1;}
    57.142% { opacity: 1;}
    66.666% { opacity: 0;}
    100% { opacity: 0;}
}

/* 새소식영역 */

/* 팝업존영역 */
/* 행사영역 */
/* 유네스코영역 */
/* 배너영역 */
/* 푸터영역 */
footer {
    width: 100%;
    background: rgb(37, 37, 37);
    height: 180px;
}
/* 무형문화재영역 */
/* 캘린더영역 */
/* 연혁영역 */
/* 전화번호영역 */